.form {
  margin-top: 200px;
}
.text {
  font-size: 20px;
  color: #000000;
  padding-bottom: 20px;
}

.input {
  height: 58px;
  width: 300px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #0dcaf0;
  padding-left: 25px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 10px;
}

.input::placeholder {
  font-size: 14px;
  color: #bbbbbb;
  padding-top: 20px;
  padding-bottom: 20px;
}

.errors {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: rgb(230, 28, 28);
  padding-bottom: 20px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 17px;

  color: #2a363b;
}

.link:hover {
  color: #0dcaf0;
}
